<div class="container">
  <div class="row">
    <div class="d-flex flex-row justify-content-center">
      <button [ngClass]="index==1?'d-none':'d-flex'" (click)="preIndex()" class="btn btn-light"><<</button>
      <button (click)="updatePage(btn)"   class="btn btn-light" *ngFor="let btn of page.getPreviousPageIndexes()">{{btn}}</button>
      <button (click)="updatePage(index)"  class="btn btn-primary" >{{index}}</button>
      <button (click)="updatePage(btn)" class="btn btn-light" *ngFor="let btn of page.getNextPageIndexes()">{{btn}}</button>
      <button [ngClass]="index==totalPages?'d-none':'d-flex'"  (click)="nextIndex()" class="btn btn-light">>></button>
    </div>

  </div>
</div>
