<div class="container">
  <div class="row">
    <div class="d-flex flex-row justify-content-center">

        <button [ngClass]="index==1?'d-none':'d-flex first fs'" (click)="preIndex()" class="btn btn-outline-primary"><<</button>
        <button (click)="updatePage(btn)"   class="btn btn-outline-primary" *ngFor="let btn of page.getPreviousPageIndexes();">{{btn}}</button>
        <button [ngClass]="{'first':page.getPreviousPageIndexes() === null, 'last':page.getNextPageIndexes() === null}"   (click)="updatePage(index)"  class="btn btn-primary" >{{index}}</button>
        <button (click)="updatePage(btn)" class="btn btn-outline-primary" *ngFor="let btn of page.getNextPageIndexes()">{{btn}}</button>
        <button [ngClass]="index==totalPages?'d-none':'d-flex last fs'"  (click)="nextIndex()" class="btn btn-outline-primary">>></button>
      </div>



  </div>
</div>
